body{
    background:  #E4AF9D;
}
.first-line{
   margin-top: 2%;
    margin-left: 2%;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.second-line{
    margin-top: 1%;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.third-line{
    margin-top: 1%;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.fourth-line{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1%;
    justify-content: center;
}
.one-squares{
    height: 150px;
    width: 150px;
    background-color: rgb(186, 224, 213);
    border: 2px solid black;
    font-size: smaller;
}

.two-squares{
    height: 150px;
    width: 150px;
    background-color: rgb(151, 229, 219);
    border: 2px solid black;
    font-size: smaller;
    }
   .three-squares {
    height: 150px;
    width: 150px;
    background-color: rgb(134, 208, 197);
    border: 2px solid black;
    font-size: smaller;
    }
    .four-squares
    {
        height: 150px;
        width: 150px;
        background-color: rgb(121, 211, 199);
        border: 2px solid black;
        font-size: smaller;
    }
    .five-squares{
        height: 150px;
        width: 150px;
        background-color: rgb(105, 218, 202);
        border: 2px solid black;
        font-size: smaller;
    }
    .six-squares
    {
        height: 150px;
        width: 150px;
        background-color: rgb(92, 209, 194);
        border: 2px solid black;
        font-size: smaller;
    }

    .seven-squares{
        height: 150px;
        width: 150px;
        background-color: rgb(82, 221, 214);
        border: 2px solid black;
        font-size: smaller;
    }
    .eight-squares{
        height: 150px;
        width: 150px;
        background-color: rgb(71, 218, 218);
        border: 2px solid black;
        font-size: smaller;
    }
    .nine-squares{   
        height: 150px;
        width: 150px;
        background-color: rgb(71, 203, 207);
        border: 2px solid black;
        font-size: smaller;
    }
    .ten-squares{
        height: 150px;
        width: 150px;
        background-color: rgb(61, 218, 210);
        border: 2px solid black;
        font-size: smaller;
    }

    .elewen-squares{
        height: 150px;
        width: 150px;
        background-color: rgb(53, 202, 202);
        border: 2px solid black;
        font-size: smaller;
    }
    .twelw-squares{
        height: 150px;
        width: 150px;
        background-color: rgb(36, 211, 196);
        border: 2px solid black;
        font-size: smaller;
    }
    .thirteen-squares{
        height: 150px;
        width: 150px;
        background-color: rgb(19, 216, 206);
        border: 2px solid black;
        font-size: smaller;
    }
    .fourteen-squares{
        height: 150px;
        width: 150px;
        background-color: rgb(2, 207, 197);
        border: 2px solid black;
        font-size: smaller;
    }